$mobile-width:            768px;
$tablet-width:            1024px;
$desktop-width:           1200px;
$retina-dppx:             1.5dppx;
$retina-dpi:              144dpi;

$color-black:             #000000;
$color-white:             #ffffff;

$font-family--ptsans:     "PT Sans", "Arial", sans-serif;
