.button {
  display: flex;
  padding: 5px;

  color: rgba(0, 0, 0, 0.54);

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.14);
  }

  &--active {
    color: #1976d2;
  }
}
