.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  color: rgba(0, 0, 0, 0.87);

  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.card__content {
  margin: 0;
}

.card__image-wrapper {
  font-size: 0;

  background-color: rgba(0, 0, 0, 0.04);
}

.card__image {
  width: 100%;
  height: 300px;

  object-fit: cover;
}

.card__text {
  padding: 5px;
}

.card__heading {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.card__controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding: 5px;
}

.card__button {
  &--delete {
    margin-left: auto;
  }
}
