.checkbox label {
  position: relative;

  display: block;

  padding-left: 30px;

  cursor: pointer;

  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;

    width: 24px;
    height: 24px;

    color: rgba(0, 0, 0, 0.6);

    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
  }
}

.checkbox input:checked + label {
  &::before {
    color: rgb(25, 118, 210);

    background-image: url("../img/checkbox-checked.svg");
  }
}
